{% extends '@EasyAdmin/page/content.html.twig' %}
{% block head_javascript %}
    {{parent()}}
    {{ encore_entry_script_tags('app') }}
{% endblock head_javascript %}

{% block main %}
    <h3 class="page-title">Buy Credits</h3>
    <hr/>
    <div class="d-flex justify-content-between mx-3 mb-3">
       <div class="card m-auto" style="width:500px">
            <div class="card-body">
                {{ form_start(form, {'attr': {'class': 'card-text', 'action': ea_url()
                            .setController('App\\Controller\\Admin\\CreditTransactionCrudController')
                            .setAction('priceoptions')}}) }}

                    <h5 class="fs-5 d-flex"> <span class="d-inline text-center align-middle me-2 text-white" style="width:25px;height:25px;border-radius:20px;border:1px solid #09c;background-color:#09C;">1 </span> Choose a Credit Plan</h5>

                    {% for label, value in field_choices(form.creditPurchaseOption) %}
                        <div class="card my-3">
                            <div class="card-body">
                                <input type="radio" name="{{ field_name(form.creditPurchaseOption) }}" value="{{ value }}" id="{{value}}" > <label for="{{value}}"><span class="fw-bold">{{label|format_currency('XOF', locale='fr')}}</span> - {{ value }} credits</label>
                            </div>
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success mx-auto p-2" style="display: block; width:200px;">Checkout</button>
                {{ form_widget(form._token) }}
                {{ form_end(form) }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}