{% extends '@EasyAdmin/page/content.html.twig' %}
{% block head_javascript %}
    {{parent()}}
    {{ encore_entry_script_tags('app') }}
{% endblock head_javascript %}

{% block main %}
    <div class="container">
        <div class="d-flex justify-content-start mb-3">
            <div class="shadow bg-info text-white bg-gradient rounded py-3 px-3 me-2 text-center">
                <span class="fs-3">{{hourlyCreditConsumption|format_number({rounding_mode: 'floor'})}}</span> <br/>
                <span class="text-white-50">Credit Consumption per hour</span>
            </div>
            <div class="border rounded py-3 px-3 mx-2 text-center">
                <span class="fs-3 text-info">{{monthlyCreditConsumption|format_number({rounding_mode: 'floor'})}}</span> <br/>
                <span class="text-black-50">Credit Consumption per month</span>
            </div>
            {% if remainingCredits is same as ('N/A') %}
                <div class="border rounded py-3 px-3 mx-2 text-center">
                    <span class="fs-3 text-info">{{monthCostofCredit|format_currency('XOF', locale='fr')}}</span> <br/>
                    <span class="text-black-50">Foresight month cost</span>
                </div>
            {% else %}
                <div class="border rounded py-5 px-3 mx-2 text-center">
                    <span class="fs-3">{{remainingCredits|format_number({rounding_mode: 'floor'})}}</span> <br/>
                    <span class="text-black-50">Remaining credits</span>
                </div>
            {% endif %}
        </div>

        <div class="d-flex justify-content-between align-self-stretch">
            <div class="card flex-fill me-2">
                <div class="card-body">
                <h5 class="card-title d-flex"><span class="d-inline">Your applications</span> <a class="d-inline ms-auto fs-6" href="
                                    {{ ea_url()
                                    .setController('App\\Controller\\Admin\\DeploymentsCrudController')
                                    .setAction('index')}}">View all</a> </h5>
                    <p class="card-text">
                        <ul class="list-group list-group-flush">
                        {% for dep in lastfivedeps %}
                            <li class="list-group-item">
                                <a href="
                                    {{ ea_url()
                                    .setController('App\\Controller\\Admin\\DeploymentsCrudController')
                                    .setAction('detail')
                                    .setEntityId(dep.id)}}">
                                    {{ dep.label }}
                                </a>
                                <br/>
                            </li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>

            <div class="card flex-fill mx-2">
                <div class="card-body">
                    <h5 class="card-title">Transactions</h5>
                        <p class="card-text">
                            <ul class="list-group list-group-flush">
                                {% for transaction in creditPurchases %}
                                    <li class="list-group-item">
                                        {{ transaction.creditsPurchased }} credits bought on {{ transaction.created|format_datetime('medium', 'short', locale='fr') }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </p>
                        <p class="text-end">
                            <a class="btn btn-success ms-auto px-3 py-1" href="
                                {{ ea_url()
                                .setController('App\\Controller\\Admin\\CreditTransactionCrudController')
                                .setAction('priceoptions')}}" style="display:inline-block;" >
                                    Buy credits
                            </a>
                        </p>
                </div>
            </div>

            <div class="card flex-fill ms-2">
                <div class="card-body">
                    <h5 class="card-title">Notifications</h5>
                        <p class="card-text">
                        - You have ... days left before your credits expire
                        </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col my-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Consumption of credits</h5>
                        <p class="card-text">
                            {{ render_chart(chart) }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}